@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
*{
    background: yellowgreen;
    font-family: 'Montserrat', sans-serif;
}
#only{
    display: flex;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: xx-large;
    width: max-content;
}